%li{:id => ['task', task.id], :class => 'tasks', 'data-url' => task_path(task)}
  %i.icon-resize-vertical.handle
  = task.name
  - if task.can_be_estimated?
    = render 'pomodoros/new', :task => task
  - elsif task.pomodoros.size > 0
    = render 'pomodoros/show', :task => task
  - if task.ongoing
    = render 'pomodoros/show', :task => task
