%li{:id => ['task', task.id], :class => 'tasks'}
  %i.icon-resize-vertical.handle
  = task.name
  - if task.can_be_estimated?
    = render 'pomodoros/form', :task => task
  - elsif task.pomodoros > 0
    = "#{task.pomodoros} Pomodoros"
