%h1 Activity Inventory
=link_to 'Create To Do Today List', todos_path, :method => :post, :class => 'btn btn-success', :remote => true
=form_for @task, :class => 'form-inline', :remote => true do |f|
  =f.text_field :name
  =f.submit :class => 'btn btn-success'
%h2 Unassigned Tasks
%ol#unassigned_tasks.sortable{'data-sort-url' => sort_tasks_path( :todo => nil ) }
  =render @tasks
%h2 To Do Lists
%ul#todos
  = render @todos
