%h1 Activity Inventory
=form_for @task, :class => 'form-inline', :remote => true do |f|
  =f.text_field :name
  =f.submit :class => 'btn btn-success'
.row
  .span4
    %h2 Unassigned Tasks
    %ol#unassigned_tasks.sortable{'data-sort-url' => sort_tasks_path( :todo => nil ) }
      =render @tasks
  .span7
    %h2
      To Do Lists
      =link_to 'New', todos_path, :method => :post, :id => 'new_todo', :class => 'btn btn-mini btn-success', :remote => true
    %ul#todos.unstyled
      = render @todos
